//backgrounds
$bcg-primary-color-a: white;
$bcg-primary-color-b: rgb(255, 0, 43);
//palette
$bcg-color-b1: rgb(255, 28, 66);
$bcg-color-b2: rgb(251, 126, 147);
$bcg-color-b3: rgb(157, 0, 26);
$bcg-color-b4: rgb(170, 68, 85);

//fonts
$font-primary-color-a: brown;
$font-primary-color-b: white;
//palette
$font-color-a1: rgb(158, 80, 80);
$font-color-a2: rgb(169, 0, 0);
$font-color-a3: rgb(105, 28, 28);
$font-color-a4: rgb(26, 7, 7);