@use "colors";
@use "display";
@use "fonts";
@use "heights";
@use "positions";
@use "widths";

footer{
    height: heights.$height-10;
    width: widths.$width-1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}