<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="parent-container">
        <header></header>
        <section>
            <p>Welcome to Project 2311</p>
        <div class="form-container">
            <form action="/" method="get" name = "signinForm">
                <div class="Fields">
                    <label for="username"  name = UserName>Username<sup>*</sup></label>
                    <input type="text" name="UserName" id="username">
                </div>
                <div class="Fields">
                    <label for="password" name = Password>Password<sup>*</sup></label>
                    <input type="password" name="Password" id="password">
                </div>
                <button type="submit">Sign-in</button>
            </form>
        </div>
        </section>
        <footer>&copy; 2024 All rights reserved</footer>
        
    </div>
</body>
</html>